---
import Layout from '../../layouts/Layout.astro';
import { getAllActivitiesSorted } from '../../../backend/backend.mjs';
import ActivityCard from '../../components/ActivityCard.astro';

const activities = await getAllActivitiesSorted();

const activitiesByDate = activities.reduce((acc, activity) => {
  const date = new Date(activity.date).toLocaleDateString('fr-FR', { weekday: 'long', day: 'numeric', month: 'long' });
  if (!acc[date]) acc[date] = [];
  acc[date].push(activity);
  return acc;
}, {});
---

<Layout>
  <section class="bg-gray-900 text-white py-16 px-6">
    <h1 class="text-4xl font-bold mb-6 text-center">Activités</h1>
    <p class="text-gray-400 text-lg text-center mb-8">Découvrez les événements et conférences du festival.</p>

    {Object.entries(activitiesByDate).map(([date, activities]) => (
      <div key={date} class="mb-12">
        <h2 class="text-2xl font-bold mb-6 border-b-2 border-white pb-2 text-center">{date}</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 justify-items-center">
          {activities.map((activity) => (
            <div class="w-full max-w-xs"> 
              <ActivityCard 
                key={activity.id}
                id={activity.id}
                titre={activity.titre}
                imageUrl={activity.imageUrl}
                type={activity.type}
                description={activity.description}
                invite={`${activity.expand?.invites.prenom || ''} ${activity.expand?.invites.nom || ''}` || 'Aucun'}
              />
            </div>
          ))}
        </div>
      </div>
    ))}
  </section>
</Layout>